@use '../var' as *;
@use '../mixins' as *;

// ============================================
// QUOTE
// ============================================
.quote {
    margin: 3rem auto;
    max-width: $content-width;
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.4;
    font-weight: 200;
    font-style: italic;
    color: $color-primary;
    letter-spacing: 0;
    @include media-breakpoint-up(md) {
        margin: 4rem auto;
        font-size: 2rem;
        line-height: 1.35;
    }
    @include media-breakpoint-up(xl) {
        margin: 5rem auto;
        font-size: 2.25rem;
        line-height: calc(48 / 36);
    }

    p {
        margin: 0;
    }
}
