@use '../var' as *;
@use '../mixins' as *;

// ============================================
// Eyebrow text
// ============================================
.eyebrow {
    display: block;
    font: 10px/1.2 var(--bs-font-sans-serif);
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--bs-primary);
    @include media-breakpoint-down(xl) {
        margin-bottom: 1rem;
    }

    &::before {
        @include pseudo;
        width: .5rem;
        height: .5rem;
        margin-right: 1rem;
        border-radius: 50%;
        display: inline-block;
        background: var(--bs-primary);
    }

    strong {
        font-weight: inherit;
    }
}