@use '../var' as *;
@use '../mixins' as *;

.numbered-list {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: .0225em;

    li {
        padding-left: 60px;
        position: relative;


        &::before {
            @include pseudo;
            width: 36px;
            height: 36px;
            border-radius: 50%;
            position: absolute;
            top: -4px;
            left: 0;
            background: no-repeat center center;
        }

        &:nth-child(1)::before {
            background-image: url("data:image/svg+xml,%3Csvg width='36' height='38' viewBox='0 0 36 38' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M34.875 18.7734C34.875 12.7969 31.6406 7.24219 26.4375 4.21875C21.1641 1.19531 14.7656 1.19531 9.5625 4.21875C4.28906 7.24219 1.125 12.7969 1.125 18.7734C1.125 24.8203 4.28906 30.375 9.5625 33.3984C14.7656 36.4219 21.1641 36.4219 26.4375 33.3984C31.6406 30.375 34.875 24.8203 34.875 18.7734ZM0 18.7734C0 12.375 3.375 6.46875 9 3.23438C14.5547 0 21.375 0 27 3.23438C32.5547 6.46875 36 12.375 36 18.7734C36 25.2422 32.5547 31.1484 27 34.3828C21.375 37.6172 14.5547 37.6172 9 34.3828C3.375 31.1484 0 25.2422 0 18.7734ZM12.9375 26.6484H13.5H17.4375V11.0391L13.7812 13.6406L13.5 13.8516V12.5156L17.0859 9.91406L17.2266 9.77344H17.4375H18H18.5625V10.3359V26.6484H22.5H23.0625V27.7734H22.5H18H13.5H12.9375V26.6484Z' fill='%23307884'/%3E%3C/svg%3E%0A");
        }

        &:nth-child(2)::before {
            background-image: url("data:image/svg+xml,%3Csvg width='38' height='36' viewBox='0 0 38 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.8438 1.125C12.7969 1.125 7.24219 4.35938 4.21875 9.5625C1.19531 14.8359 1.19531 21.2344 4.21875 26.4375C7.24219 31.7109 12.7969 34.875 18.8438 34.875C24.8203 34.875 30.375 31.7109 33.3984 26.4375C36.4219 21.2344 36.4219 14.8359 33.3984 9.5625C30.375 4.35938 24.8203 1.125 18.8438 1.125ZM18.8438 36C12.375 36 6.46875 32.625 3.23438 27C0 21.4453 0 14.625 3.23438 9C6.46875 3.44531 12.375 0 18.8438 0C25.2422 0 31.1484 3.44531 34.3828 9C37.6172 14.625 37.6172 21.4453 34.3828 27C31.1484 32.625 25.2422 36 18.8438 36ZM19.0547 10.1953C18 10.1953 17.0156 10.4766 16.2422 11.1094L14.1328 12.8672L13.6406 13.2188L12.9375 12.3047L13.4297 11.9531L15.5391 10.2656C16.5234 9.49219 17.7891 9.07031 19.0547 9.07031H19.1953C22.0781 9.07031 24.4688 11.4609 24.4688 14.3438C24.4688 15.75 23.9062 17.1562 22.8516 18.1406L15.1172 25.875H25.0312H25.5938V27H25.0312H13.7812H13.2188V26.2266L13.3594 26.0859L22.0781 17.3672C22.8516 16.5234 23.3438 15.4688 23.3438 14.3438C23.3438 12.0938 21.4453 10.1953 19.1953 10.1953H19.0547Z' fill='%23307884'/%3E%3C/svg%3E%0A");
        }

        &:nth-child(3)::before {
            background-image: url("data:image/svg+xml,%3Csvg width='38' height='36' viewBox='0 0 38 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.8438 1.125C12.7969 1.125 7.24219 4.35938 4.21875 9.5625C1.19531 14.8359 1.19531 21.2344 4.21875 26.4375C7.24219 31.7109 12.7969 34.875 18.8438 34.875C24.8203 34.875 30.375 31.7109 33.3984 26.4375C36.4219 21.2344 36.4219 14.8359 33.3984 9.5625C30.375 4.35938 24.8203 1.125 18.8438 1.125ZM18.8438 36C12.375 36 6.46875 32.625 3.23438 27C0 21.4453 0 14.625 3.23438 9C6.46875 3.44531 12.375 0 18.8438 0C25.2422 0 31.1484 3.44531 34.3828 9C37.6172 14.625 37.6172 21.4453 34.3828 27C31.1484 32.625 25.2422 36 18.8438 36ZM23.9062 9H24.4688V9.84375L24.2578 9.98438L16.3828 16.875H20.4609C23.2734 16.875 25.5938 19.125 25.5938 21.9375C25.5938 24.75 23.2734 27 20.4609 27H15.4688C14.2031 27 13.0078 26.2969 12.4453 25.1719L12.0938 24.4688L11.8828 23.9766L12.8672 23.4844L13.1484 23.9766L13.5 24.6797C13.8516 25.4531 14.625 25.875 15.4688 25.875H20.4609C22.6406 25.875 24.3984 24.1172 24.3984 21.9375C24.3984 19.7578 22.6406 18 20.4609 18H14.9062H14.3438V17.2266L14.4844 17.0156L22.3594 10.125H12.6562H12.0938V9H12.6562H23.9062Z' fill='%23307884'/%3E%3C/svg%3E%0A");
        }

        &:nth-child(4)::before {
            background-image: url("data:image/svg+xml,%3Csvg width='36' height='38' viewBox='0 0 36 38' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M34.875 18.7734C34.875 12.7969 31.6406 7.24219 26.4375 4.21875C21.1641 1.19531 14.7656 1.19531 9.5625 4.21875C4.28906 7.24219 1.125 12.7969 1.125 18.7734C1.125 24.8203 4.28906 30.375 9.5625 33.3984C14.7656 36.4219 21.1641 36.4219 26.4375 33.3984C31.6406 30.375 34.875 24.8203 34.875 18.7734ZM0 18.7734C0 12.375 3.375 6.46875 9 3.23438C14.5547 0 21.375 0 27 3.23438C32.5547 6.46875 36 12.375 36 18.7734C36 25.2422 32.5547 31.1484 27 34.3828C21.375 37.6172 14.5547 37.6172 9 34.3828C3.375 31.1484 0 25.2422 0 18.7734ZM22.5 14.2734V14.8359V22.1484H24.1875H24.75V23.2734H24.1875H22.5V27.2109V27.7734H21.375V27.2109V23.2734H11.25H10.4062L10.6875 22.5L15.8906 9.77344H17.0859L12.0234 22.1484H21.375V14.8359V14.2734H22.5Z' fill='%23307884'/%3E%3C/svg%3E%0A");
        }

        & + li {
            margin-top: 28px;
        }
    }

    strong {
        margin: 0 0 8px;
        display: block;
        font-size: 24px;
        line-height: 1em;
        font-weight: 250;
        letter-spacing: 0;
        color: $color-primary;
    }

    p {
        margin: 0;
    }
}
